<div class="container">
    <h1>Issue Details</h1>
    <div>
        <label name="id">Issue ID: </label>
        {{id}}
    </div>
    <div>
        <label name="descreption">Issue Descreption: </label>
        {{descreption}}
    </div>
    <div>
        <label name="severity">Issue Severity: </label>
        {{severity}}
    </div>
    <div>
        <label name="status">Issue Status: </label>
        {{status}}
    </div>
    <div>
        <label name="createddate">Created Date: </label>
        {{createddate}}
    </div>
    <div>
        <label name="status">Resolved Date: </label>
        {{resolveddate}}
    </div>
    <button class="btn btn-danger" (click)="goBack()">Back</button>
</div>

